server:
  port: 8080

spring:
  data:
    mongodb:
      uri: ${MONGO_URI}

logging:
  level:
    root: INFO

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000

ai:
  provider: openai

openai:
  api-key: ${OPENAI_API_KEY}
  model: gpt-3.5-turbo
  api:
    url: https://api.openai.com/v1/chat/completions
